* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* prevent vertical scroll bar glitch */
html { overflow-y: scroll; }

.carousel {
  background: #16423C;
  padding-top: 35px;
  padding-bottom: 35px;
}

.carousel-cell {
  width: 100%;
  height: auto;
  margin-right: 10px;
  background: #16423C;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell h1 {
  display: block;
  text-align: center;
  margin-top: 20px;
  line-height: 90px;
  font-size: 80px;
  color: #ffffff;
  font-family: "SF Pro";
}

.carousel-cell h2 {
    display: block;
    text-align: center;
    line-height: 70px;
    font-size: 50px;
    color: rgb(185, 185, 185);
    font-family: "SF Pro";
  }

.beafooter {
  position: absolute;
  top: 150vh;
  right: 0vh;
  width: 100%;
}