.newblock {
    display: block;
    background-color: #afafaf;
    height: 300px;
    width: 300px;
}

.grid {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 10px;
    column-gap: 15px;
  }

.box {
    margin: 2% 10px;
    text-align: center;
}

.sortofgreen {
    background-color: #6A9C89;
    
}

.notasgreen {
    background-color: #C4DAD2; 
}

.gridimage {
    width: 100%;
    justify-content: center;
}

.a, .b, .c {
    display: flex;
    align-items: flex-end; 
    justify-content: center;
}

.d, .e, .f {
    align-content: start;
    justify-content: center;
    overflow-wrap: break-word;
    hyphens: auto;
}

.box h1 {
    font-size: 55px; 
    font-family: "SF Pro";
}

.box h2 {
    font-size: 25px;
    font-family: "SF Pro";
}

.gray {
    color: rgb(90, 90, 90);
}

.greenishborder {
    background-color: #6A9C89;
}

.lessgreenishborder {
    background-color: #C4DAD2;
}

.coolcontainer {
    background-color: #E9EFEC;
}

.footercolor {
    border-top: 0.5rem solid #E9EFEC;
    background-color: #E9EFEC;
    border-bottom: 0.5rem solid #E9EFEC;
}
